@font-face {
    font-family: nunito-regular;
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(../fonts/NunitoSans-SemiBold.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../fonts/NunitoSans-Bold.ttf);
}

$h1: 30px nunito-regular;
$h2: 38px nunito-bold;
$h3: 20px nunito-regular;
$h4: 20px nunito-semibold;
$h5: 18px nunito-bold;
$subtitle1: 13px nunito-regular;
$subtitle2: 13px nunito-bold;
$body1: 14px nunito-regular;
$body2: 14px nunito-bold;
$button1: 18px nunito-regular;
$button2: 11px nunito-regular;

:export {
    h1: $h1;
    h2: $h2;
    h3: $h3;
    h4: $h4;
    h5: $h5;
    subtitle1: $subtitle1;
    subtitle2: $subtitle2;
    body1: $body1;
    body2: $body2;
    button1: $button1;
    button2: $button2;
}
