$primary-blue: #3118b1;

$secondary-purple: #6837c6;

$support-white: #ffffff;
$support-grey-05: #eeeeee;
$support-grey-10: #dbdbdb;
$support-grey-30: #b8b8b8;
$support-grey-50: #707070;
$support-grey-70: #2b2b2b;
$support-red: #ff0000;

:export {
    primary_blue: $primary-blue;

    secondary_purple: $secondary-purple;

    support_white: $support-white;
    support_grey_05: $support_grey-05;
    support_grey_10: $support_grey-10;
    support_grey_30: $support-grey-30;
    support_grey_50: $support_grey-50;
    support_grey_70: $support-grey-70;
    support_red: $support-red;
}
